.main-title {
	font-size: 32px;
	padding-top: 30px;
	padding-bottom: 25px;
}

.login-section {
	margin-top: 150px;
}
.teacher-title {
	font-size: 30px;
}

.header-teacher {
	background-color: #007bff;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.text-span {
	font-size: 19px;
}
.title-student {
	margin-top: 100px;
}
